.container {
    padding: 20px;
    margin: 20px 15%;
    overflow-x: hidden;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
        margin: 20px 10%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 5px;
        margin: 0;
    }
}